DB_USER=(name of your db)
DB_PASSWORD=(Password of youy db)
DB_HOST= (Host)
DB_PORT=(port)
DB_NAME=(name of you db)

POSTGRES_USER=(user)  
POSTGRES_PASSWORD=(password)   
POSTGRES_DB=(name)

UPLOAD_FOLDER = 'static/img'
ALLOWED_EXTENSIONS = {'png', 'jpg', 'jpeg', 'gif'}
SECRET_KEY = (secret key)
KEY = (key for JWT)