<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pintuplomer</title>
    <link href="/static/css/output.css" rel="stylesheet" />
    <link href="/static/img/icono/pintuplomer_logo.ico" rel="shortcut icon" />
</head>
<body class="bg-slate-100 flex">
    
    {% include 'components/navegacion.html' %}

    <div class="w-full ml-96 p-4">
      <div class="flex items-center space-x-2 mb-4 justify-end">
        <p class="text-xl font-bold">{{ nombre }}</p>
        <img src="{{ url_for('static', filename='img/perfil/' + imagen) }}" class="w-17 rounded-full">
      </div>

      <div> 
        {% if usuario %}
          <div class="bg-white p-4 px-8 rounded-lg shadow-md m-5 ">
            <img src="{{ url_for('static', filename='img/perfil/' + usuario[4] ) }}" alt="imagen del usuario" class="w-65 h-55 border rounded-xl ml-90" />
            <div>
              <h3 class="mt-2 text-xl font-semibold mb-1">Nombre del Usuario: {{ usuario[1] }}</h3>
              <p class="text-gray-500 mb-1">ID: {{ usuario[0] }}</p>
              <p class="text-gray-500 mb-1">Clave: {{ usuario[2] }}</p>
              <p class="text-gray-600">ID Nivel de acceso: {{ usuario[6] }}</p>
              <p class="text-gray-600">Nive de acceso: {{ usuario[7] }}</p>
              <p class="text-gray-600">Fecha de creacion: {{ usuario[5] }}</p>
            </div>
          </div>
      </div>
        {% else %} 
          <div class="mt-50"> 
            <svg xmlns="http://www.w3.org/2000/svg"viewBox="0 -960 960 960" class="w-8 h-8 ml-[47%]" fill="currentColor">
              <path d="M138.5-138.5Q80-197 80-280t58.5-141.5Q197-480 280-480t141.5 58.5Q480-363 480-280t-58.5 141.5Q363-80 280-80t-141.5-58.5ZM824-120 568-376q-12-13-25.5-26.5T516-428q38-24 61-64t23-88q0-75-52.5-127.5T420-760q-75 0-127.5 52.5T240-580q0 6 .5 11.5T242-557q-18 2-39.5 8T164-535q-2-11-3-22t-1-23q0-109 75.5-184.5T420-840q109 0 184.5 75.5T680-580q0 43-13.5 81.5T629-428l251 252-56 56Zm-615-61 71-71 70 71 29-28-71-71 71-71-28-28-71 71-71-71-28 28 71 71-71 71 28 28Z"/>
            </svg> 
            <h1 class="text-xl  mx-[41%]">Perfil no encontrado</h1>
          </div>
        {% endif %}
    </div>
  </div>
</body>
</html>