<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pintuplomer</title>
    <link href="/static/css/output.css" rel="stylesheet" />
    <link href="/static/img/icono/pintuplomer_logo.ico" rel="shortcut icon" />
</head>
<body class="bg-slate-100 flex">

    {% include 'components/navegacion_if.html' %}

    <div class="w-full ml-96 p-4">
      <div class="flex items-center space-x-2 mb-4 justify-end">
        <p class="text-xl font-bold">{{ nombre }}</p>
        <img src="{{ url_for('static', filename='img/perfil/' + imagen) }}" class="w-17 rounded-full">
      </div>

      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <div class="flex flex-col space-y-2">
            {% for message in messages %}
              <p class="bg-red-200 text-red-800 p-2 mt-3 rounded-md text-center text-xl mb-2">{{ message }}</p>
            {% endfor %}
          </div>
        {% endif %}
      {% endwith %}

      <div>
        {% if categoria %}
          <h1 class="text-center mb-10 text-2xl text-slate-800">Editar Categoria</h1> 
          <form class="bg-white mx-[270px] border-gray-300 shadow-md m-auto px-5 py-2 rounded-xl" action="{{ url_for('configuracion.modificar_categoria', id=categoria[0]) }}" method="POST" onsubmit="return editar()">
                <label for="nombre" class="text-xl font-medium text-gray-700 ">Nombre de la Categoria:</label> <br>
                <input class="pl-2 my-2 bg-slate-100 rounded-sm w-55 " type="text" name="nombre" id="nombre" placeholder="Nombre Categoria" value="{{ categoria[1] }}" required/> <br>
                <button type="submit" class="bg-blue-500 p-1.5 rounded-xl cursor-pointer text-white hover:bg-blue-600 mb-2" > editar Categoria </button>
           </form>
        {% else %}
          <h1 class="text-center mb-10 text-2xl text-slate-800">No existe esta Categoria</h1>
        {% endif %}
      </div>
  </div>
</body>
</html>