<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pintuplomer</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link href="/static/css/output.css" rel="stylesheet" />
    <link href="/static/img/icono/pintuplomer_logo.ico" rel="shortcut icon" />
</head>
<body class="bg-gray-100 font-sans">
    <div class="flex h-screen"> 
        <div class="bg-blue-200 w-1/6 text-white p-4 flex-grow">
            <!--<h1 class="text-center text-5xl mt-15 font-serif">Pintuplomer</h1>-->
            <img class="w-55 h-30 rounded-2xl mx-auto mt-8" src="{{ url_for('static', filename='img/pintuplomer_logo.jpg') }}" alt="pintuplomer_logo">
            <img class="ml-75" src="{{ url_for('static', filename='img/imagen_login.png')}}" alt="Imagen">
        </div>
        <div class="w-1/4">
            <form action="{{ url_for('login.login') }}" method="POST" class="ml-20"> 
                <h2 class=" text-blue-400 text-3xl mt-35 pb-10 pl-15">Login</h2> 
                    <div class="pb-5">
                        <label for="usuario" class="block pb-0 text-xl">Nombre de Usuario:</label> <br>
                        <input type="text" id="usuario" name="usuario" class="h-9 pl-3 bg-white rounded-lg w-55" placeholder="Su nombre de usuario" required>
                    </div>
                    <div> 
                        <label for="clave" class="block pb-0 text-xl">Contraseña:</label> <br>
                        <div class="flex">
                            <input type="password" id="clave" name="clave" class=" h-9 pl-3 bg-white rounded-lg w-55" placeholder="Contraseña" required> 
                            <svg onclick="cambiar()" xmlns="http://www.w3.org/2000/svg"viewBox="0 -960 960 960" class="cursor-pointer w-7 h-7 ml-1.5 mt-0.5 hover:text-blue-500 notranslate">
                                <path id="icono" d="m644-428-58-58q9-47-27-88t-93-32l-58-58q17-8 34.5-12t37.5-4q75 0 127.5 52.5T660-500q0 20-4 37.5T644-428Zm128 126-58-56q38-29 67.5-63.5T832-500q-50-101-143.5-160.5T480-720q-29 0-57 4t-55 12l-62-62q41-17 84-25.5t90-8.5q151 0 269 83.5T920-500q-23 59-60.5 109.5T772-302Zm20 246L624-222q-35 11-70.5 16.5T480-200q-151 0-269-83.5T40-500q21-53 53-98.5t73-81.5L56-792l56-56 736 736-56 56ZM222-624q-29 26-53 57t-41 67q50 101 143.5 160.5T480-280q20 0 39-2.5t39-5.5l-36-38q-11 3-21 4.5t-21 1.5q-75 0-127.5-52.5T300-500q0-11 1.5-21t4.5-21l-84-82Zm319 93Zm-151 75Z"/>
                            </svg>
                        </div>
                    </div>
                <button type="submit" class="bg-white border mt-10 border-blue-400 h-10 w-55 rounded-lg text-blue-400 cursor-pointer hover:bg-blue-400 hover:text-white focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-50">Iniciar Sesión</button>
            </form>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="w-50 mt-5 ml-23 p-1 border border-stone-500 bg-neutral-300"> 
                        {% for message in messages %}
                        <p>{{ message }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/cambio_icono.js') }}"></script>
</body>
</html>