<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pintuplomer</title>
    <link href="/static/css/output.css" rel="stylesheet" />
    <link href="/static/img/icono/pintuplomer_logo.ico" rel="shortcut icon" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body class="bg-slate-100 flex" onclick="ocultar_lista()">
    
  {% include 'components/navegacion_if.html' %}

  <div class="w-full ml-96 p-4">
    <div class="flex items-center space-x-2 mb-4 justify-end">
      <p class="text-xl font-bold">{{ nombre }}</p>
      <img src="{{ url_for('static', filename='img/perfil/' + imagen) }}" class="w-17 rounded-full">
    </div>

    <div class="flex items-center bg-white h-14 rounded-sm shadow-md">
      <p class="mr-20" style="visibility: hidden;">no lo ves</p>
      <form action="{{ url_for('inventario.producto_proveedores_busqueda') }}" method="get">
        <div class="flex">
          <input type="text" name="buscar" id="buscar" class="ml-20 h-8 w-[550px] bg-gray-100 shadow-sm pl-4 rounded-xl" placeholder="Buscar producto">
          <button type="submit">
            <svg xmlns="http://www.w3.org/2000/svg"viewBox="0 -960 960 960" class="w-6 h-6 hover:text-slate-300 mt-0.5 ml-1 cursor-pointer" fill="currentColor">
              <path d="M784-120 532-372q-30 24-69 38t-83 14q-109 0-184.5-75.5T120-580q0-109 75.5-184.5T380-840q109 0 184.5 75.5T640-580q0 44-14 83t-38 69l252 252-56 56ZM380-400q75 0 127.5-52.5T560-580q0-75-52.5-127.5T380-760q-75 0-127.5 52.5T200-580q0 75 52.5 127.5T380-400Z"/>
            </svg> 
          </button>
        </div>
      </form>
      <div class="relative">
        <div id="cabezero" name="cabezero" class="flex ml-40 cursor-pointer border border-gray-300 p-1 rounded-xl w-31 hover:shadow-md" onclick="mostrar_lista()">Listar por .... 
          <svg id="flecha" xmlns="http://www.w3.org/2000/svg"viewBox="0 -960 960 960" class="w-4 h-4 inline-block mt-1 ml-3 transition-transform duration-300 " fill="currentColor">
            <path d="M400-80 0-480l400-400 71 71-329 329 329 329-71 71Z"/>
          </svg>
        </div>
        <div id="lista" name="lista" class="absolute w-full top-full border border-gray-300 bg-white z-50 mt-1 rounded-sm text-gray-700" style="display: none;">
          {% if access_level == 'Administrador' %}
            <a class="cursor-pointer block hover:bg-gray-200 pl-3 mt-0.5" href="{{ url_for('inventario.index') }}">Listar todo</a>
          {% else %}
            <a class="cursor-pointer block hover:bg-gray-200 pl-3 mt-0.5" href="{{ url_for('inventario.trabajador') }}">Listar todo</a>
          {% endif %}
          {% if categoria %}
            {% for categorias in categoria %}
              <a class="cursor-pointer block hover:bg-gray-200 pl-3 " href="{{ url_for('inventario.tipo_listado', categoria=categorias[0] ) }}">{{ categorias[1] }}</a>
            {% endfor %}
          {% endif %}
          <a class="cursor-pointer block hover:bg-gray-200 pl-3 mb-0.5" href="{{ url_for('inventario.producto_proveedores') }}">Por Proveedor</a>
        </div>
      </div>
    </div>
                
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="flex flex-col space-y-2">
          {% for message in messages %}
            <p class="bg-green-200 text-green-800 p-2 mt-3 rounded-md text-center text-xl">{{ message }}</p>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}

  {% if productos %}
    {% for proveedores in proveedores %}
      <div class="flex bg-white mb-2 mt-2 justify-center items-center h-14 w-full rounded-sm shadow-md">
        <p class="text-gray-500 font-bold text-2xl">ID del Proveedor: {{ proveedores[0] }} </p>
        <p class="text-gray-500 font-bold text-2xl ml-2">Proveedor: {{ proveedores[1] }}</p>
      </div>
      {% include 'components/productos_proveedores.html' %}
    {% endfor %}
  {% else %} 
    <div class="mt-50"> 
      <svg xmlns="http://www.w3.org/2000/svg"viewBox="0 -960 960 960" class="w-8 h-8 ml-[530px]" fill="currentColor">
            <path d="M440-600v-120H320v-80h120v-120h80v120h120v80H520v120h-80ZM223.5-103.5Q200-127 200-160t23.5-56.5Q247-240 280-240t56.5 23.5Q360-193 360-160t-23.5 56.5Q313-80 280-80t-56.5-23.5Zm400 0Q600-127 600-160t23.5-56.5Q647-240 680-240t56.5 23.5Q760-193 760-160t-23.5 56.5Q713-80 680-80t-56.5-23.5ZM40-800v-80h131l170 360h280l156-280h91L692-482q-11 20-29.5 31T622-440H324l-44 80h480v80H280q-45 0-68.5-39t-1.5-79l54-98-144-304H40Z"/>
          </svg> 
      <h1 class="text-xl ml-[420px] ">No se encontraron productos</h1>
    </div>
  {% endif %}
  </div>
<script src="{{ url_for('static', filename='js/lista.js') }}"></script>
</body>
</html>