<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pintuplomer</title>
    <link href="/static/css/output.css" rel="stylesheet" />
    <link href="/static/img/icono/pintuplomer_logo.ico" rel="shortcut icon" />
</head>
<body class="bg-slate-100 flex">
    
  {% include 'components/navegacion_if.html' %}

  <div class="w-full ml-96 p-4">
    <div class="flex items-center space-x-2 mb-4 justify-end">
      <p class="text-xl font-bold">{{ nombre }}</p>
      <img src="{{ url_for('static', filename='img/perfil/' + imagen) }}" class="w-17 rounded-full">
    </div>

    <div class="flex items-center bg-white h-14 rounded-sm shadow-md">
        <p class="text-xl font-bold pl-2 text-gray-600">Sistema de gestion de materiales de pintura</p>
        <a href="{{ url_for('reporte.reporte_mensual') }}" class="flex items-center cursor-pointer ml-[200px] bg-blue-300 p-2 rounded-xl hover:bg-blue-500 hover:text-white transation-all duration-500">Generar reporte del Mes
          <svg xmlns="http://www.w3.org/2000/svg"viewBox="0 -960 960 960" class="w-6.5 h-6.5 pt-0.5 pl-0.5" fill="currentColor">
            <path d="M560-320h80v-80h80v-80h-80v-80h-80v80h-80v80h80v80ZM160-160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800h240l80 80h320q33 0 56.5 23.5T880-640v400q0 33-23.5 56.5T800-160H160Zm0-80h640v-400H447l-80-80H160v480Zm0 0v-480 480Z"/>
          </svg>
        </a>
        <a href="{{ url_for('reporte.reporte_diario') }}" class="flex items-center cursor-pointer bg-blue-300 p-2 ml-1 rounded-xl hover:bg-blue-500 hover:text-white transation-all duration-500">Generar reporte del Dia
          <svg xmlns="http://www.w3.org/2000/svg"viewBox="0 -960 960 960" class="w-6.5 h-6.5 pt-0.5 pl-0.5" fill="currentColor">
            <path d="M560-320h80v-80h80v-80h-80v-80h-80v80h-80v80h80v80ZM160-160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800h240l80 80h320q33 0 56.5 23.5T880-640v400q0 33-23.5 56.5T800-160H160Zm0-80h640v-400H447l-80-80H160v480Zm0 0v-480 480Z"/>
          </svg>
        </a>
        <a href="{{ url_for('configuracion.configuracion') }}" class="flex items-center cursor-pointer ml-5">
          <svg xmlns="http://www.w3.org/2000/svg"viewBox="0 -960 960 960" class="w-6.5 h-6.5 pt-0.5 pl-0.5 hover:text-gray-400" fill="currentColor">
            <path d="m370-80-16-128q-13-5-24.5-12T307-235l-119 50L78-375l103-78q-1-7-1-13.5v-27q0-6.5 1-13.5L78-585l110-190 119 50q11-8 23-15t24-12l16-128h220l16 128q13 5 24.5 12t22.5 15l119-50 110 190-103 78q1 7 1 13.5v27q0 6.5-2 13.5l103 78-110 190-118-50q-11 8-23 15t-24 12L590-80H370Zm70-80h79l14-106q31-8 57.5-23.5T639-327l99 41 39-68-86-65q5-14 7-29.5t2-31.5q0-16-2-31.5t-7-29.5l86-65-39-68-99 42q-22-23-48.5-38.5T533-694l-13-106h-79l-14 106q-31 8-57.5 23.5T321-633l-99-41-39 68 86 64q-5 15-7 30t-2 32q0 16 2 31t7 30l-86 65 39 68 99-42q22 23 48.5 38.5T427-266l13 106Zm42-180q58 0 99-41t41-99q0-58-41-99t-99-41q-59 0-99.5 41T342-480q0 58 40.5 99t99.5 41Zm-2-140Z"/>
          </svg>
        </a>
    </div>

    <div class="ml-2 mt-5">
        <h2 class="text-3xl font-bold">DashBoard</h2>
        <p class="text-gray-600">Vision General de la Tienda</p>
    </div>
      
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="flex flex-col space-y-2">
        {% for message in messages %}
          <p class="bg-blue-200 text-blue-800 p-2 mt-3 rounded-md text-center text-xl">{{ message }}</p>
        {% endfor %}
        </div>
      {% endif %}
    {% endwith %} 

    <div class="flex mt-5 justify-between">
      {% if access_level == 'Administrador' %}
        <a href="{{ url_for('inventario.index') }}"><div class="bg-white p-4 px-5 w-[230px] rounded-lg shadow-md m-5 hover:shadow-2xl shadow-blue-300 transation-all duration-500">
            <div class="flex">
              <p class="text-blue-400">Productos</p>
              <svg xmlns="http://www.w3.org/2000/svg"viewBox="0 -960 960 960" class="w-7 h-7 text-blue-400 ml-23"fill="currentColor">
                <path d="M120-40v-880h80v80h560v-80h80v880h-80v-80H200v80h-80Zm80-480h80v-160h240v160h240v-240H200v240Zm0 320h240v-160h240v160h80v-240H200v240Zm160-320h80v-80h-80v80Zm160 320h80v-80h-80v80ZM360-520h80-80Zm160 320h80-80Z"/>
              </svg>
            </div>
            <p class="text-2xl mt-5 font-bold">Bs.{{ productos[0][0] }}</p>
            <p class="text-gray-500 mt-5">Valor total en invetario</p>
        </div></a>
      {% else %}
        <a href="{{ url_for('inventario.trabajador') }}"><div class="bg-white p-4 px-5 w-[230px] rounded-lg shadow-md m-5 hover:shadow-2xl shadow-blue-300 transation-all duration-500">
            <div class="flex">
              <p class="text-blue-400">Productos</p>
              <svg xmlns="http://www.w3.org/2000/svg"viewBox="0 -960 960 960" class="w-7 h-7 text-blue-400 ml-23"fill="currentColor">
                <path d="M120-40v-880h80v80h560v-80h80v880h-80v-80H200v80h-80Zm80-480h80v-160h240v160h240v-240H200v240Zm0 320h240v-160h240v160h80v-240H200v240Zm160-320h80v-80h-80v80Zm160 320h80v-80h-80v80ZM360-520h80-80Zm160 320h80-80Z"/>
              </svg>
            </div>
            <p class="text-2xl mt-5 font-bold">BS.{{ productos[0][0] }}</p>
            <p class="text-gray-500 mt-5">Valor total en invetario</p>
        </div></a>
      {% endif %}

      {% if access_level == 'Administrador' %}
        <a href="{{ url_for('inactivos.inactivos') }}"><div class="bg-white p-4 px-5 w-[230px] rounded-lg shadow-md m-5 hover:shadow-2xl shadow-green-300 transation-all duration-500">
            <div class="flex">
              <p class="text-green-400">Inactivos</p>
              <svg xmlns="http://www.w3.org/2000/svg"viewBox="0 -960 960 960" class="w-6.5 h-6.5 text-green-400 ml-25" fill="currentColor">
                <path d="M40-160v-80h200v-80H80v-80h160v-80H122v-80h118v-118l-78-168 72-34 94 200h464l-78-166 72-34 94 200v520H40Zm440-280h160q17 0 28.5-11.5T680-480q0-17-11.5-28.5T640-520H480q-17 0-28.5 11.5T440-480q0 17 11.5 28.5T480-440ZM320-240h480v-360H320v360Zm0 0v-360 360Z"/>
              </svg>
            </div>     
            <p class="text-2xl mt-5 font-bold">{{ movimiento }}</p>
            <p class="text-gray-500 mt-5">Inactivos de la aplicacion</p>
        </div></a>
      {% endif %}

      <a href="{{ url_for('minimo.alerta') }}"><div class="bg-white p-4 px-5 w-[230px] rounded-lg shadow-md m-5 hover:shadow-2xl {% if alerta[0][0] <= 5 and alerta[0][0] >= 0 %}shadow-orange-300{% elif alerta[0][0] > 5 %}shadow-red-400 {% endif %} transation-all duration-500">
        <div class="flex">
          <p class="{% if alerta[0][0] <= 5 and alerta[0][0] >= 0 %}text-orange-400{% elif alerta[0][0] > 5 %}text-red-500 {% endif %}">Bajo stock</p>
          <svg xmlns="http://www.w3.org/2000/svg"viewBox="0 -960 960 960" class="w-6.5 h-6.5 {% if alerta[0][0] <= 5 and alerta[0][0] >= 0 %}text-orange-400{% elif alerta[0][0] > 5 %}text-red-500 {% endif %} ml-22" fill="currentColor">
            <path d="M451.5-591.5Q440-603 440-620t11.5-28.5Q463-660 480-660t28.5 11.5Q520-637 520-620t-11.5 28.5Q497-580 480-580t-28.5-11.5ZM440-720v-200h80v200h-80ZM223.5-103.5Q200-127 200-160t23.5-56.5Q247-240 280-240t56.5 23.5Q360-193 360-160t-23.5 56.5Q313-80 280-80t-56.5-23.5Zm400 0Q600-127 600-160t23.5-56.5Q647-240 680-240t56.5 23.5Q760-193 760-160t-23.5 56.5Q713-80 680-80t-56.5-23.5ZM40-800v-80h131l170 360h280l156-280h91L692-482q-11 20-29.5 31T622-440H324l-44 80h480v80H280q-45 0-68.5-39t-1.5-79l54-98-144-304H40Z"/>
          </svg>
          </div>
          <p class="text-2xl mt-5 font-bold">{{ alerta[0][0] }}</p>
          <p class="text-gray-500 mt-5">Productos bajo stock</p>
      </div></a>
  

      <a href="{{ url_for('sin_movimiento.no_movimientos') }}"><div class="bg-white p-4 px-5 w-[230px] rounded-lg shadow-md m-5 hover:shadow-2xl shadow-amber-300 transation-all duration-500">
          <div class="flex">
            <p class="text-amber-400">Sin movimiento</p>
            <svg xmlns="http://www.w3.org/2000/svg"viewBox="0 -960 960 960" class="w-6.5 h-6.5 text-amber-400 ml-13" fill="currentColor">
                <path d="M360-320h80v-320h-80v320Zm160 0h80v-320h-80v320ZM480-80q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z"/>
            </svg>
          </div> 
          <p class="text-2xl mt-5 font-bold">{{ no_movimiento[0][0] }}</p>
          <p class="text-gray-500 mt-5">Productos sin movimiento</p>
      </div></a>     
    </div>   
    <div class="flex justify-between">
      <a href="{{ url_for('historial.historial_movimientos_filtro', categoria=3) }}"><div class="bg-white p-4 px-5 w-[230px] rounded-lg shadow-md m-5 hover:shadow-2xl shadow-green-500 transation-all duration-500">
          <div class="flex">
            <p class="text-green-600">Devoluciones</p>
            <svg xmlns="http://www.w3.org/2000/svg"viewBox="0 -960 960 960" class="w-6.5 h-6.5 text-green-600 ml-18" fill="currentColor">
                <path d="M240-120v-480q0-100 70-170t170-70q100 0 170 70t70 170v168l64-64 56 56-160 160-160-160 56-56 64 64v-168q0-66-47-113t-113-47q-66 0-113 47t-47 113v480h-80Z"/>
            </svg>
          </div> 
          <p class="text-2xl mt-5 font-bold">{{ devoluciones[0][0] }}</p>
          <p class="text-gray-500 mt-2">Devoluciones del mes</p>
          <p class="text-gray-500 mt-1">Bs.{{ devoluciones_bs[0][0] }}</p>
      </div></a>  

      <a href="{{ url_for('historial.historial_movimientos_filtro', categoria=1) }}"><div class="bg-white p-4 px-5 w-[230px] rounded-lg shadow-md m-5 hover:shadow-2xl shadow-blue-500 transation-all duration-500">
          <div class="flex">
            <p class="text-blue-600">Entradas</p>
            <svg xmlns="http://www.w3.org/2000/svg"viewBox="0 -960 960 960" class="w-6.5 h-6.5 ml-25 text-blue-500" fill="currentColor">
                <path d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h560q33 0 56.5 23.5T840-760v560q0 33-23.5 56.5T760-120H200Zm0-80h560v-120H640q-30 38-71.5 59T480-240q-47 0-88.5-21T320-320H200v120Zm349-142q31-22 43-58h168v-360H200v360h168q12 36 43 58t69 22q38 0 69-22Zm-69-58L320-560l56-58 64 64v-166h80v166l64-64 56 58-160 160ZM200-200h560-560Z"/>
            </svg>
          </div> 
          <p class="text-2xl mt-5 font-bold">{{ entradas[0][0] }}</p>
          <p class="text-gray-500 mt-2">Entradas del mes</p>
          <p class="text-gray-500 mt-1">Bs.{{ entradas_bs[0][0] }}</p>
      </div></a>  
    
      <a href="{{ url_for('historial.historial_movimientos_filtro', categoria=2) }}"><div class="bg-white p-4 px-5 w-[230px] rounded-lg shadow-md m-5 hover:shadow-2xl shadow-red-500 transation-all duration-500">
          <div class="flex">
            <p class="text-red-500">Salidas</p>
            <svg xmlns="http://www.w3.org/2000/svg"viewBox="0 -960 960 960" class="w-6.5 h-6.5 ml-28 text-red-500" fill="currentColor">
                <path d="M440-400v-166l-64 64-56-58 160-160 160 160-56 58-64-64v166h-80ZM200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h560q33 0 56.5 23.5T840-760v560q0 33-23.5 56.5T760-120H200Zm0-80h560v-120H640q-30 38-71.5 59T480-240q-47 0-88.5-21T320-320H200v120Zm349-142q31-22 43-58h168v-360H200v360h168q12 36 43 58t69 22q38 0 69-22ZM200-200h560-560Z"/>
            </svg>
          </div> 
          <p class="text-2xl mt-5 font-bold">{{ salidas[0][0] }}</p>
          <p class="text-gray-500 mt-2">Salidas del mes</p>
          <p class="text-gray-500 mt-1">Bs.{{ salidas_bs[0][0] }}</p>
      </div></a>  

      <a href="{{ url_for('historial.historial_movimientos_filtro', categoria=4) }}"><div class="bg-white p-4 px-5 w-[230px] rounded-lg shadow-md m-5 hover:shadow-2xl shadow-orange-500 transation-all duration-500">
          <div class="flex">
            <p class="text-orange-500">Ajustes</p>
            <svg xmlns="http://www.w3.org/2000/svg"viewBox="0 -960 960 960" class="w-6.5 h-6.5 ml-28 text-orange-500" fill="currentColor">
                <path d="M160-400v-80h280v80H160Zm0-160v-80h440v80H160Zm0-160v-80h440v80H160Zm360 560v-123l221-220q9-9 20-13t22-4q12 0 23 4.5t20 13.5l37 37q8 9 12.5 20t4.5 22q0 11-4 22.5T863-380L643-160H520Zm300-263-37-37 37 37ZM580-220h38l121-122-18-19-19-18-122 121v38Zm141-141-19-18 37 37-18-19Z"/>
            </svg>
          </div> 
          <p class="text-2xl mt-2 font-bold">{{ ajuste[0][0] }}</p>
          <p class="text-gray-500 mt-0.5">Ajustes del mes</p>
          <p class="text-green-500">Bs.{{ ajuste_aumento[0][0] }}</p>
          <p class="text-red-500">Bs.-{{ ajuste_disminucion[0][0] }}</p>
      </div></a>  
    </div>
  </div>
<script src="{{ url_for('static', filename='js/lista.js') }}"></script>
</body>
</html>