<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pintuplomer</title>
    <link href="/static/css/output.css" rel="stylesheet" />
    <link href="/static/img/icono/pintuplomer_logo.ico" rel="shortcut icon" />
</head>
<body class="bg-slate-100 flex">

    {% include 'components/navegacion_if.html' %}

    <div class="w-full ml-96 p-4">
      <div class="flex items-center space-x-2 mb-4 justify-end">
        <p class="text-xl font-bold">{{ nombre }}</p>
        <img src="{{ url_for('static', filename='img/perfil/' + imagen) }}" class="w-17 rounded-full">
      </div>

      <div class="flex items-center bg-white h-14 rounded-sm shadow-md">
        {% if session.nivel_acceso == 'Administrador'%}
          <a href="{{ url_for('proveedor.proveedor_nuevo') }}" class="flex items-center cursor-pointer ml-5 bg-green-300 text-green-900 p-2 rounded-xl hover:bg-green-500 hover:text-white">Agregar Proveedor
            <svg xmlns="http://www.w3.org/2000/svg"viewBox="0 -960 960 960" class="w-6 h-6 pt-0.5" fill="currentColor">
              <path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z"/>
            </svg> 
          </a>
        {% else %}
          <p class="mr-35" style="visibility: hidden;">no lo ves</p>
        {% endif %}
        <form action="{{ url_for('proveedor.barra_busqueda') }}" method="get">
          <div class="flex">
            <input type="text" name="buscar" id="buscar" class="ml-20 h-8 w-[550px] bg-gray-100 shadow-sm pl-4 rounded-xl" placeholder="Buscar Proveedor">
            <button type="submit">
              <svg xmlns="http://www.w3.org/2000/svg"viewBox="0 -960 960 960" class="w-6 h-6 hover:text-slate-300 mt-0.5 ml-1 cursor-pointer" fill="currentColor">
                <path d="M784-120 532-372q-30 24-69 38t-83 14q-109 0-184.5-75.5T120-580q0-109 75.5-184.5T380-840q109 0 184.5 75.5T640-580q0 44-14 83t-38 69l252 252-56 56ZM380-400q75 0 127.5-52.5T560-580q0-75-52.5-127.5T380-760q-75 0-127.5 52.5T200-580q0 75 52.5 127.5T380-400Z"/>
              </svg> 
            </button>
          </div>
        </form>
        <div class="relative">
          <div id="cabezero" name="cabezero" class="flex ml-27 cursor-pointer border border-gray-300 p-1 rounded-xl w-31 hover:shadow-md" onclick="mostrar_lista()">Listar por .... 
            <svg id="flecha" xmlns="http://www.w3.org/2000/svg"viewBox="0 -960 960 960" class="w-4 h-4 inline-block mt-1 ml-3 transition-transform duration-300 " fill="currentColor">
              <path d="M400-80 0-480l400-400 71 71-329 329 329 329-71 71Z"/>
            </svg> 
          </div>
          <div id="lista" name="lista" class="absolute w-full top-full border border-gray-300 bg-white z-50 mt-1 rounded-sm text-gray-700" style="display: none;">
            <a class="cursor-pointer block hover:bg-gray-200 pl-3 mt-0.5" href="{{ url_for('proveedor.proveedores') }}">ID (Ascendente/Descendente)</a>
            <a class="cursor-pointer block hover:bg-gray-200 pl-3 " href="{{ url_for('proveedor.tipo_listado', categoria=1) }}">ID (Descendente/Ascendente)</a>
            <a class="cursor-pointer block hover:bg-gray-200 pl-3 " href="{{ url_for('proveedor.tipo_listado', categoria=2) }}">Nombre (A-Z)</a>
            <a class="cursor-pointer block hover:bg-gray-200 pl-3 " href="{{ url_for('proveedor.tipo_listado', categoria=3) }}">Nombre (Z-A)</a>
            <a class="cursor-pointer block hover:bg-gray-200 pl-3 " href="{{ url_for('proveedor.tipo_listado', categoria=4) }}">Fecha de Registro</a>
            <a class="cursor-pointer block hover:bg-gray-200 pl-3 mb-0.5" href="{{ url_for('proveedor.tipo_listado', categoria=5) }}">Fecha de Registro (Descendente)</a>
          </div>
        </div>
      </div>
                  
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <div class="flex flex-col space-y-2">
            {% for message in messages %}
              <p class="bg-green-200 text-green-800 p-2 mt-3 rounded-md text-center text-xl mb-2">{{ message }}</p>
            {% endfor %}
          </div>
        {% endif %}
      {% endwith %}

      <div class="flex flex-wrap gap-6 "> 
        {% if lista_proveedores %}
          {% for proveedor in lista_proveedores %}
          <div class="bg-white p-4 px-5 rounded-lg shadow-md m-5 hover:shadow-2xl justify-between">
            <div >
              <h3 class="mt-2 text-xl font-semibold mb-1">{{ proveedor[1] }}</h3>
              <p class="text-gray-500 mb-1">ID: {{ proveedor[0] }}</p>
              <p class="text-gray-800 font-bold mb-1">RIF: {{ proveedor[5] }}</p>
              <p class="text-gray-600">Correo: {{ proveedor[2] }}</p>
              <p class="text-gray-600">Telefono: {{ proveedor[4] }}</p>
              <p class="text-gray-600">Direccion: {{ proveedor[3] }}</p>
              <p class="text-gray-600">Fecha de registro: {{ proveedor[7] }}</p>
              <div class="flex gap-1">
              <a href="{{ url_for('proveedor.editar_proveedor', id=proveedor[0] ) }}"> 
                <svg xmlns="http://www.w3.org/2000/svg"viewBox="0 -960 960 960" class="w-6 h-6 ml-39 mt-2 hover:text-blue-500 cursor-pointer" fill="currentColor">
                  <path d="M200-200h57l391-391-57-57-391 391v57Zm-80 80v-170l528-527q12-11 26.5-17t30.5-6q16 0 31 6t26 18l55 56q12 11 17.5 26t5.5 30q0 16-5.5 30.5T817-647L290-120H120Zm640-584-56-56 56 56Zm-141 85-28-29 57 57-29-28Z"/>
                </svg> 
              </a>
              <a href="{{ url_for('proveedor.eliminar_proveedor', id=proveedor[0] ) }}"> 
                <svg xmlns="http://www.w3.org/2000/svg"viewBox="0 -960 960 960" class="w-6 h-6 mt-2 hover:text-red-500 cursor-pointer" fill="currentColor">
                  <path d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z"/>
                </svg> 
              </a>
            </div>
            </div>
          </div>
          {% endfor %}
      </div>
        {% else %} 
          <div class="mt-50"> 
            <svg xmlns="http://www.w3.org/2000/svg"viewBox="0 -960 960 960" class="w-8 h-8 ml-[530px]" fill="currentColor">
              <path d="M440-600v-120H320v-80h120v-120h80v120h120v80H520v120h-80ZM223.5-103.5Q200-127 200-160t23.5-56.5Q247-240 280-240t56.5 23.5Q360-193 360-160t-23.5 56.5Q313-80 280-80t-56.5-23.5Zm400 0Q600-127 600-160t23.5-56.5Q647-240 680-240t56.5 23.5Q760-193 760-160t-23.5 56.5Q713-80 680-80t-56.5-23.5ZM40-800v-80h131l170 360h280l156-280h91L692-482q-11 20-29.5 31T622-440H324l-44 80h480v80H280q-45 0-68.5-39t-1.5-79l54-98-144-304H40Z"/>
            </svg> 
            <h1 class="text-xl  ml-[400px]">No hay proveedores registrados</h1>
          </div>
        {% endif %}
    </div>
<script src="{{ url_for('static', filename='js/lista.js') }}"></script>
</body>
</html>